<header>

<div class="navbar-fixed">
  <nav id="nav">
    <div class="nav-wrapper white">

      <div class="row noselect">
        <div class="col s12 offset-s1">
          <i class="material-icons grey-text text-lighten-1 menuicon">reorder</i>
          <a href="{{site.baseurl}}/" class="brand-logo">
            <img src="{{site.baseurl}}/img/logo8.png" height="40px">
          </a>
          <br>



          <div id="nav-pages">
            <ul id="nav-mobile nav-pages" class="left main-nav">
              <li><a href="{{site.baseurl}}/acquiring-time-based-media-art.html" class="navhover">購藏</a></li>
              <li><a href="{{site.baseurl}}/assessing-time-based-media-art.html" class="navhover">文件紀錄</a></li>
              <li><a href="{{site.baseurl}}/lending-time-based-media.html" class="navhover">借展</a></li>
              <li><a href="{{site.baseurl}}/sustaining-your-collection.html" class="navhover">數位保存</a></li>
            </ul>
          </div>

          <!-- add en/zh_tw link start -->

<!--          <div id="nav-lang">-->
<!--            <ul id="nav-mobile nav-pages" class="right main-nav">-->
<!--              <li><a href="{{site.baseurl}}/" class="navhover">EN</a></li>-->
<!--              <li><a href="{{site.baseurl}}/zh_tw/" class="navhover">中文</a></li>-->

<!--            </ul>-->
<!--          </div>-->

          <!-- add en/zh_tw link end -->

          <div id="about-faq">
            <ul id="nav-mobile about-faq" class="right main-nav">
              <li><a href="{{site.baseurl}}/about.html" class="navhover">關於</a></li>
              <li><a href="{{site.baseurl}}/faq.html" class="navhover">問題集</a></li>
              <li><a href="{{site.baseurl}}/external-resources.html" class="navhover">連結</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
</div>


</header>
