<!DOCTYPE html>
<html>

  {% include head.html %}
{% include header.html %}
  <body>

    <style type="text/css">
@media only screen and (min-width : 993px) {
  .container {
    width: 85%;
    margin-left: 9%;
     } }

    </style>


  <main>

    <div class="container">

      <div class="row row-title">
        <div class="col s12 m9 offset-m3">
               <h1>{{page.title}}</h1>
          </div>
      </div>
    	<div class="row">
        

<!-- 以下page.title判斷內容需要同步更改成中文字串才能正確運作 -->


{% if page.title == "取得媒體藝術作品" %}

  <div id="contextualmenu" class="col hide-on-small-only m2 l2 s2 contextualmenu pinned">
    <ul class="section table-of-contents">
      <li><a href="#pre-acquisition">入藏前置作業</a>
        <ul class="section table-of-contents submenu">
          <li><a href="#pre-gather">獲取詳細資料</a></li>
          <li><a href="#pre-assessment">前置評估作業</a></li>
          <li><a href="#costs">費用開支</a></li>
          <li><a href="#proceed">是否決定入藏?</a></li>
          <li><a href="#pre-templates">入藏前置作業範本</a></li>
        </ul>
      </li>
      <li><a href="#accessioning">入藏</a>
        <ul class="section table-of-contents submenu">
          <li><a href="#accessioning-guidelines">指導方針</a></li>
          <li><a href="#accessioning-templates">登錄範本</a></li>
        </ul>
      </li>
      <li><a href="#post-acquisition">入藏後置作業</a>
      </li>
    </ul>
  </div>

{% endif %}



<!-- 選單項目和頁面標題要同時改成中文才有辦法正確顯示 -->
{% if page.title == "媒體藝術文件化" %}

  <div id="contextualmenu" class="col hide-on-small-only m1 l2 s1 contextualmenu pinned">
    <ul class="section table-of-contents">
      <li><a href="#cataloging">媒體藝術編目</a></li>
      <li><a href="#post-templates">作品狀況報告書範本</a></li>
      <li><a href="#assessing">數位錄像檔案檢測</a></li>
      <ul class="section table-of-contents submenu">
          <li><a href="#workstation">檢測工作站</a></li>
          <li><a href="#analysis">初步技術分析</a></li>
          <li><a href="#assessing-files">檢測檔案</a></li>
    </ul>
  </div>

{% endif %}




{% if page.title == "媒體藝術借展" %}

  <div id="contextualmenu" class="col hide-on-small-only m1 l2 s1 contextualmenu pinned">
    <ul class="section table-of-contents">
      <li><a href="#process">借展流程</a></li>
      <li><a href="#budget">經費</a></li>
      <li><a href="#agreement">借展合約</a></li>
      <li><a href="#facilities-report">場館設施報告</a></li>
      <li><a href="#documentation">安裝說明文件</a></li>
    </ul>
  </div>

{% endif %}






{% if page.title == "永續維護媒體藝術" %}

  <div id="contextualmenu" class="col hide-on-small-only m1 l2 s1 contextualmenu pinned">
    <ul class="section table-of-contents">
      <li><a href="#Core-Principles">核心原則</a></li>
      <li><a href="#Know-Your-Collection">了解你的收藏</a></li>
      <li><a href="#Assess-Your-Skills">評估你的技能</a></li>
      <li><a href="#Calculate-Your-Budget">衡量你的預算</a></li>
      <li><a href="#Review-Collection-Management-Systems">檢閱藏品管理系統</a></li>
      <li><a href="#Design-Your-Storage">設計你的儲存環境</a></li>
      <li><a href="#Implement-Fixity">施行校驗機制</a></li>
      <li><a href="#Provide-Access">提供和限制存取</a></li>
      <li><a href="#Keep-up-with-Technology">技術同步</a></li>
    </ul>
  </div>

{% endif %}

{% if page.title == "常見問題集" %}

  <div id="contextualmenu" class="col hide-on-small-only m1 l2 s1 contextualmenu pinned">
    <ul class="section table-of-contents">
      <li><a href="#Acquisition">購藏</a></li>
      <li><a href="#Loans">借展</a></li>
      <li><a href="#PCM">保存和藏品管理</a></li>
    </ul>
  </div>

{% endif %}


{% if page.title == "關於媒體藝術事務" %}

  <div id="contextualmenu" class="col hide-on-small-only m1 l2 s1 contextualmenu pinned">
    <ul class="section table-of-contents">
      <li><a href="#about">關於</a></li>
      <li><a href="#project-history">計畫歷史</a></li>
      <li><a href="#contribution-guidelines">貢獻指南</a></li>
      <li><a href="#the-team">計畫團隊</a></li>

    </ul>
  </div>

{% endif %}



    		      <div class="col s12 m7 offset-m3">
    		      	{{ content }}
    		      </div>

    	</div>

    </div>
  </main>


    {% include footer.html %}

<div id="backtotop" class="center">
  <i class="material-icons">navigation</i>
  <br>
  回到頂端
</div>

  </body>

</html>
